body {
		background-image: url("http://www.geforce.com/sites/default/files-world/screenshots/civilization-v/screenshot2.jpg");
}

/*-------------------------------- Options -----------------------------------*/

#sideoptions {
    width: 60px;
}

.btn-group-vertical > button {
    position: absolute;
    left: 8px;
    margin-bottom: 10px;
    border-radius: 25px !important;
}


/*------------------------------ Overview ---------------------------------*/

.modal {
		position: absolute;
		top: 30px;
		right: 100px;
		bottom: 0;
		left: 0;
		z-index: 10040;
		overflow: auto;
		overflow-y: auto;
}

.modal-backdrop {
    background: none;
}

.modal-header {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: #ccffff;
		
		background-image:
		linear-gradient(
						#001a33,
						#34495E
				);
}

.modal-content {
		opacity: 0.9;
		color: #ccffff;
		
		background-image:
		radial-gradient(
						#34495E,
						#001a33 
				);
}

.nav-tabs > li > a:hover {
		background-color:	#001a33;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
		color: white;
		background-color:	#34495E;
}

.close {
		color: white;
		opacity: 1;
}

ul.overview-list {
		list-style: none;
		margin: 0;
		padding: 0;
		border: none;
}

ul.overview-list > li {
		border-bottom: 0.5px solid white;
		margin: 0;
}

ul.overview-list > li span {
		float: right;
}

/*-------------------------------- Chat -----------------------------------*/

#chatbox {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 250px;
    opacity: 0.7;
    display: none;
}

#chatbox:hover {
		opacity: 1.0;
}

#chat-body {
    height: 225px;
    width: 246px;
    word-wrap: break-word;
    overflow-y: scroll;
    font-size: small;
}

#chat-input {
    resize: none;
    width: 100%;
    height: 100%;
    font-size: small;
}

/*-------------------------------- Build -----------------------------------*/

#build-bar {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 10%;
		height: 90%;
		opacity: 0.8;
		border-radius: 5px;
		margin-top: 15px;
		margin-bottom: 15px;
		
		background-image:
		radial-gradient(
						#34495E,
						#001a33 
				);
}

.build-group {
		position: relative;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 80%;
		height: 91.5%;
		margin: auto;
		overflow-y: hidden;
		/*	background-color: black; */
}

.build-panel {
		width: 80%;
		height: calc(100% / 7);
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;

		border-radius: 10px;
		border-style: groove;
		border-color: white;

		/*Transition*/
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
}

.build-panel.next {
		height: 0;
		margin-top: 0;
		margin-bottom: 0;
		border-style: none;
}

.build-panel:hover {
		/*Glow*/
		-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
		-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
		box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}


.build-header {
		/*
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		width: 100%;
	 */
}

#build-previous, #build-next {
		width: 100%;
}

#build-next {
		position: absolute;
		bottom: 0;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
}

#build-previous {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
}

