<div id="build-bar">
	<button id="build-previous" class="btn btn-default disabled">
		<span class="glyphicon glyphicon-menu-up"></span>	
	</button>

	<div class="build-group">
		<div class="build-panel">1</div>
		<div class="build-panel">2</div>
		<div class="build-panel">3</div>
		<div class="build-panel">4</div>
		<div class="build-panel">5</div>
		<div class="build-panel">6</div>
	
		<div class="build-panel">7</div>
		<div class="build-panel">8</div>
		<div class="build-panel">9</div>
		<div class="build-panel">10</div>
		<div class="build-panel">11</div>
		<div class="build-panel">12</div>
	</div>
	
	<button id="build-next" class="btn btn-default">
		<span class="glyphicon glyphicon-menu-down"></span>	
	</button>
</div>
