<div id="build-bar">
	<button id="build-previous" class="btn btn-default disabled">
		<span class="glyphicon glyphicon-menu-up"></span>	
	</button>

	<div class="build-group">
		<div class="build-panel"></div>
		<div class="build-panel"></div>
		<div class="build-panel"></div>
		<div class="build-panel"></div>
		<div class="build-panel"></div>
		<div class="build-panel"></div>
	</div>
	
	<button id="build-next" class="btn btn-default">
		<span class="glyphicon glyphicon-menu-down"></span>	
	</button>
</div>
