<div id="chat-select" class="chat-box">
	<div class="list-group">
		<span class="select-header">Friends</span>
		<button id="select-close" type="button" class="close" aria-labelledby="close"><span aria-hidden="true">&times;</span></button>

		<div id="kinda-friends">
			<a href="#" class="list-group-item select-item">One friend</a>
		</div>
		
		<span class="select-header">Others</span>
		<div id="not-friends">
		</div>

	</div>
</div>

<div id="chatbox" class="chat-box">
	<div class="chat-head">
		<a id="chat-with" href="#">Potato Salad</a>
		<button id="chat-close" type="button" class="close" aria-labelledby="close"><span aria-hidden="true">&times;</span></button>
	</div>
	<div id="chatbody" class="chat-body"></div>
	
	<div class="chat-text">
		<textarea id="chat-input" class="form-control" rows="1"></textarea>
	</div>
</div>




