<nav class="navbar navbar-inverse navbar-custom" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collase-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand">{{username}}</a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul id="stats" class="nav navbar-nav">
      <li><a><span id="nav-food" class="fa fa-leaf fa-lg"></span></a></li>
      <li><a><span id="nav-wood" class="fa fa-tree fa-lg"></span></a></li>
      <li><a><span id="nav-gold" class="fa fa-dollar fa-lg"></span></a></li>
      <li><a><span id="nav-population" class="fa fa-group fa-lg"></span></a></li>
      <li><a><span id="nav-iron" class="fa fa-cubes fa-lg"></span></a></li>
      <li><a><span id="nav-soldiers" class="fa fa-shield fa-lg"></span></a></li>
			<li><a><span id="nav-happiness" class="fa fa-smile-o fa-lg"></span></a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="glyphicon glyphicon-cog"></span> Settings</a>
				<ul class="dropdown-menu">
					<li><a href="/logout">Log Out</a></li>
					<li><a href="/settings/" + {{username}}>Account</a></li>
				</ul>
      </li>
    </ul>
    
  </div>
</nav>
