<div id="overview-popup">
	<div class="modal fade" id="overview-form" tabindex="-1" role="dialog" aria-labelledby="overview-label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-labelledby="close"><span aria-hidden="true">&times;</span></button>

					<h4 class="modal-title" id="overview-label">City Name</h4>
				</div>

				<div class="modal-body">
					Some text here <br>
					And here
				</div>
				
			</div>
		</div>
	</div>
</div>
