<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#city-info">City Info</a></li>
	<li><a data-toggle="tab" href="#nation-info">Nation Info</a></li>
</ul>

<div class="modal-body">
	<div class="tab-content">

		
		<div id="city-info" class="tab-pane fade in active">
			<h4>Resources</h4>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<ul class="overview-list">
						<li>Food <span>100</span></li>
						<li>Wood <span>9,000</span></li>
						<li>Iron <span>2048</span></li>
					</ul>
				</div>

				<div class="col-sm-4 col-sm-offset-1">
					<ul class="overview-list">
						<li>Population</li>
						<li>Money</li>
						<li>Soldiers</li>
					</ul>
				</div>
				
			</div>
			<hr>
			
			<h4>Buildings</h4>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-2">
					<ul class="list-group">
						<li class="list-group-item">House</li>
						<li class="list-group-item">Hospital</li>
						<li class="list-group-item">Moo</li>
					</ul>
				</div>
				
				<div class="col-sm-4">
					<ul class="list-group">
						<li class="list-group-item">House</li>
						<li class="list-group-item">Hospital</li>
						<li class="list-group-item">Moo</li>
					</ul>
				</div>
			</div>
		
		</div>


		
		<div id="nation-info" class="tab-pane fade">
			<h4>Cities</h4>
			<p>Some content.</p>
			<hr>
			<h4>Allies</h4>
		</div>
		
	</div>
</div>
