<ul class="nav nav-tabs">
  <li class="active"><a id="cityname" data-toggle="tab" href="#city-info">{{cityname}}</a></li>
  <li><a id="username" data-toggle="tab" href="#nation-info">{{username}}</a></li>
</ul>

<div class="modal-body">
  <div class="tab-content">

    
    <div id="city-info" class="tab-pane fade in active">
      <h4>Resources</h4>
      <div id="resources" class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<ul class="overview-list">
						<li id="view-food">Food <span></span></li>
						<li id="view-wood">Wood <span></span></li>
						<li id="view-iron">Iron <span></span></li>
						<li id="view-happiness">Happiness <span></span></li>
					</ul>
				</div>

				<div class="col-sm-4 col-sm-offset-1">
					<ul class="overview-list">
						<li id="view-population">Population <span></span></li>
						<li id="view-gold">Money <span></span></li>
						<li id="view-soldiers">Soldiers <span></span></li>
					</ul>
				</div>		
      </div>
      <hr>
      
      <h4>Buildings</h4>
      <div id="buildings" class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<ul class="overview-list">
						<li id="house">Houses <span></span></li>
						<li id="city hall">City Hall <span></span></li>
						<li id="hospital">Hospitals <span></span></li>
						<li id="shop">Shops <span></span></li>
						<li id="rec building">Recs <span></span></li>
					</ul>
				</div>

				<div class="col-sm-4 col-sm-offset-1">
					<ul class="overview-list">
						<li id="barracks">Barracks <span></span></li>
						<li id="mine">Mine <span></span></li>
						<li id="woodmill">Woodmills <span></span></li>
						<li id="farm">Farms <span></span></li>
					
					</ul>
				</div>		
      </div>
    </div>

		
    <div id="nation-info" class="tab-pane fade">
      <div class="row">
				
				<div class="col-sm-4 col-sm-offset-1">
					<h4>Cities</h4><ul id="cities" class="overview-list"></ul>
				</div>

				<div class="col-sm-4 col-sm-offset-1">
					<h4>Friends</h4><ul id="friends" class="overview-list"></ul>
				</div>		
      </div>
    </div>
    
  </div>
</div>
