<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#city-info"></a></li>
  <li><a data-toggle="tab" href="#nation-info">{{username}}</a></li>
</ul>

<div class="modal-body">
  <div class="tab-content">

    
    <div id="city-info" class="tab-pane fade in active">
      <h4>Resources</h4>
      <div id="resources" class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<ul class="overview-list">
						<li>Food <span>100</span></li>
						<li>Wood <span>9,000</span></li>
						<li>Iron <span>2048</span></li>
					</ul>
				</div>

				<div class="col-sm-4 col-sm-offset-1">
					<ul class="overview-list">
						<li>Population</li>
						<li>Money</li>
						<li>Soldiers</li>
					</ul>
				</div>		
      </div>
      <hr>
      
      <h4>Buildings</h4>
      <div id="buildings" class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<ul class="overview-list">
						<li>Houses <span>100</span></li>
						<li>City Hall <span>9,000</span></li>
						<li>Barracks <span>2048</span></li>
					</ul>
				</div>

				<div class="col-sm-4 col-sm-offset-1">
					<ul class="overview-list">
						<li>Hospitals</li>
						<li>Resource Buildings</li>
						<li>Recreational</li>
					</ul>
				</div>		
      </div>
    </div>

		
    <div id="nation-info" class="tab-pane fade">
      <div class="row">
				
				<div id="cities" class="col-sm-4 col-sm-offset-1">
					<h4>Cities</h4><ul class="overview-list"></ul>
				</div>

				<div id="allies" class="col-sm-4 col-sm-offset-1">
					<h4>Allies</h4><ul class="overview-list"></ul>
				</div>		
      </div>
    </div>
    
  </div>
</div>
