<div id="sideoptions">
	<button id="options" class="btn btn-default btn-option" type="button">
		<span class="glyphicon glyphicon-list"></span>
	</button>
		
	<button id="message" class="btn btn-default btn-option" type="button" data-toggle="tooltip" data-placement="right" title="Message">
		<span class="glyphicon glyphicon-comment"></span>
	</button>
		
	<button id="overview" class="btn btn-default btn-option" type="button" data-toggle="tooltip" data-placement="right" title="Stats">
		<span class="glyphicon glyphicon-stats"></span>
	</button>
		
	<button id="build" class="btn btn-default btn-option" type="button" data-toggle="tooltip" data-placement="right" title="Build">
		<span class="glyphicon glyphicon-home"></span>
	</button>					
 
</div>
