<div id="sideoptions">
  <div class="btn-group-vertical">
		<button id="options" class="btn btn-default" type="button">
			<span class="glyphicon glyphicon-list"></span>
		</button>
		
		<button id="message" class="btn btn-default btn-option" type="button" data-toggle="tooltip" data-placement="right" title="Message">
			<span class="glyphicon glyphicon-envelope"></span>
		</button>
		
		<button id="overview" class="btn btn-default btn-option" type="button" data-toggle="tooltip" data-placement="right" title="Stats">
			<span class="glyphicon glyphicon-flag"></span>
		</button>

		<button id="buildinfo" class="btn btn-default btn-option" type="button" data-toggle="tooltip" data-placement="right" title="Upgrade">
			<span class="glyphicon glyphicon-home"></span>
		</button>

		<button id="build" class="btn btn-default btn-option" type="button" data-toggle="tooltip" data-placement="right" title="Build">
			<span class="glyphicon glyphicon-wrench"></span>
		</button>					
  </div>
</div>
