<!DOCTYPE html>
<html>
  <meta charset ="UTF-8">
  <head>
    <title>DomiNation</title>
    <!-- Loading Bootstrap -->
    <link href="dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="dist/css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
    
    <style>
      #sideoptions {
      width: 60px;
      }
   
      .btn-group-vertical > button {
      position: absolute;
      left: 8px;
      margin-bottom: 10px;
      border-radius: 25px !important;
      }

      .popup-form {

      }
    </style>
  </head>

  
  <body>
    <!-- Nav bar -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
	  <span class="sr-only">Toggle navigation</span>
	</button>
	<a class="navbar-brand" href="#">Obamanation</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
	<ul class="nav navbar-nav">
	  <li>Steel</li>
	  <li>Potatoes</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	      <span class="glyphicon glyphicon-cog"></span> Settings</a>
	    <ul class="dropdown-menu">
	      <li><a href="/logout">Log Out</a></li>
	      <li><a href="/settings">Account</a></li>
	    </ul>
	  </li>
	</ul>
      </div>
    </nav>

    <!-- Side menu -->
    <div id="sideoptions">
      <div class="btn-group-vertical">
	<button id="options" class="btn btn-default" type="button">
	  <span class="glyphicon glyphicon-list"></span>
	</button>
	
	<button id="message" class="btn btn-default btn-option" type="button">
	  <span class="glyphicon glyphicon-envelope"></span>
	</button>
	
	<button id="overview" class="btn btn-default btn-option" type="button">
	  <span class="glyphicon glyphicon-flag"></span>
	</button>

	<button id="buildinfo" class="btn btn-default btn-option" type="button">
	  <span class="glyphicon glyphicon-home"></span>
	</button>

	<button id="build" class="btn btn-default btn-option" type="button">
	  <span class="glyphicon glyphicon-wrench"></span>
	</button>					
      </div>
    </div>


   <!-- Overview -->
 
    
    <script src="dist/js/vendor/jquery.min.js"></script>
    <script src="dist/js/flat-ui.min.js"></script>
    <script src="../static/settings.js"></script>
  </body>
  
</html>
